@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<h2>Index</h2>

<form action="/Home/AddPerson" method="post">
    <input id="txt" type="text" name="id" />
    <input type="text" name="name" />
    <input type="text" name="age" />
    <input id="sub" type="submit" value="提交" />
</form>

<script>
    /*
    $.ajax({
        type: "get",
        url: "/Home/GetPersons",
        data: {
            "yema": 1,
            "yeshu": 10
        },
        success: function (r) {
            console.log(r);
        }
    });
    */
    
    var xml = new XMLHttpRequest;
    xml.open('post', '/Home/GetPersons', false);
    xml.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xml.send('yema=1&yeshu=1');
    console.log(xml);
    /*
    var sub = document.getElementById('sub');
    var txt = document.getElementById('txt');
    sub.onclick = function () {
        if (txt.value =='') {
            sub.type='submit'
        }
    }
    */
</script>