#Home {
	width: 100%;
	height: 100%;
}

#Home .Window_top_bg {
	transform: rotate(180deg);
}

#Home .Window_top {
	width: 76%;
	height: 3rem;
	margin: 0 auto;
	transform: perspective(500px) rotateX(40deg);
	background: -webkit-linear-gradient(top, #101B48 0%, #000 100%);
	background: -moz-linear-gradient(top, #101B48 0%, #000 100%);
	background: -o-linear-gradient(top, #101B48 0%, #000 100%);
	background: -ms-linear-gradient(top, #101B48 0%, #000 100%);
	background: linear-gradient(to bottom, #101B48 0%, #000 100%);
}

#Home .Window_top li {
	float: left;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 0.25rem;
	margin-left: 2rem;
	margin-top: 0.4rem;
	text-align: center;
	background: #fff;
	box-shadow: 0px 0px 2px 2px #eee;
}

#Home .Window_center {
	width: 100%;
	height: 7rem;
	margin-bottom: 4.5rem;
}

#Home .Window_center .Window_center_left {
	width: 12.5%;
	height: 130%;
	float: left;
	margin-left: 0.5%;
	position: relative;
	top: -1rem;
	transform: perspective(150px) rotatey(40deg);
	background: -webkit-linear-gradient(right, #540812 0%, #000 100%);
	background: -moz-linear-gradient(right, #540812 0%, #000 100%);
	background: -o-linear-gradient(right, #540812 0%, #000 100%);
	background: -ms-linear-gradient(right, #540812 0%, #000 100%);
	background: linear-gradient(to left, #540812 0%, #000 100%);
}

#Home .Window_center .Window_center_acoustics {
	width: 1rem;
	height: 2rem;
	border-radius: 2rem;
	background: -webkit-linear-gradient(right, #444 0%, #222 100%);
	background: -moz-linear-gradient(right, #444 0%, #222 100%);
	background: -o-linear-gradient(right, #444 0%, #222 100%);
	background: -ms-linear-gradient(right, #444 0%, #222 100%);
	background: linear-gradient(to left, #444 0%, #222 100%);
	margin-top: 1.8rem;
	margin-left: 0.5rem;
}

#Home .Window_center .Window_center_acoustics .Window_center_acoustics_little {
	width: 0.4rem;
	height: 0.5rem;
	background: #222;
	float: left;
	border-radius: 0.5rem;
	margin-top: 0.77rem;
	margin-left: 0.32rem;
	box-shadow: 1px 1px 1px 1px #666;
}

#Home .Window_center #Window {
	width: 70%;
	height: 100%;
	float: left;
	margin-left: 2%;
	box-shadow: 1px 1px 10px 10px #999;
	-webkit-box-reflect: below 0 -webkit-linear-gradient(top, rgba(250, 250, 250, 0), rgba(250, 250, 250, .0) 30%, rgba(250, 250, 250, 0.5));
	box-reflect: below 0 -webkit-linear-gradient(top, rgba(250, 250, 250, 0), rgba(250, 250, 250, .0) 30%, rgba(250, 250, 250, 0.5));
}

#Home .Window_center #Window .swiper-container {
	width: 100%;
	height: 100%;
}

#Home .Window_center #Window .swiper-slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

#Home .Window_center .Window_center_right {
	width: 14%;
	height: 130%;
	float: left;
	margin-left: 1%;
	position: relative;
	top: -1rem;
	transform: perspective(200px) rotatey(130deg);
	background: -webkit-linear-gradient(right, #540812 0%, #000 100%);
	background: -moz-linear-gradient(right, #540812 0%, #000 100%);
	background: -o-linear-gradient(right, #540812 0%, #000 100%);
	background: -ms-linear-gradient(right, #540812 0%, #000 100%);
	background: linear-gradient(to left, #540812 0%, #000 100%);
}

#Home #Window .swiper-container {
	width: 100%;
	height: 100%;
}

#Home .Movie_menu {
	width: 100%;
	height: 5rem;
	float: left;
	background: #000;
}

#Home .Movie_menu dt {
	width: 100%;
	height: 1rem;
	color: #fff;
	line-height: 1rem;
	font-size: 0.6rem;
	background: rgba(255, 0, 0, 0.5);
}

#Home .Movie_menu dt a {
	width: 2.5rem;
	height: 1rem;
	float: right;
	font-size: 0.5rem;
	color: #fff;
	float: right;
}

#Home .Movie_menu dd a {
	float: left;
	width: 22%;
	height: 3.5rem;
	margin-left: 2.2%;
	margin-top: 0.2rem;
}
