html,
body {
	width: 100%;
	height: 100%;
	background: #000;
}

* {
	margin: 0;
	padding: 0;
}

ul,
li,
dl,
dd {
	list-style: none;
}

a {
	display: block;
	width: 100%;
	height: 100%;
}

a img {
	width: 100%;
	height: 100%;
}

.Main_nav {
	width: 100%;
	height: 3rem;
}

.Main_nav li {
	float: left;
	width: 24%;
	border: 1px solid #F62329;
	margin-left: 0.1rem;
	margin-top: 0.1rem;
	height: 1.5rem;
	text-align: center;
	line-height: 1.5rem;
	color: #fff;
	font-size: 0.6rem;
	background: rgba(255, 0, 0, 0.5);
}

.Main_nav li:hover {
	background: #9e1c20;
}

.Main_menu .swiper-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.Main_menu .gallery-top {
	height: 10rem;
	width: 100%;
}

.Main_menu .gallery-thumbs {
	height: 4rem;
	box-sizing: border-box;
	padding: 10px 0;
}

.Main_menu .gallery-thumbs .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
}

.Main_menu .gallery-thumbs .swiper-slide-active {
	opacity: 1;
}

.Main_menu_bottom{
	float: left;
	display: none;
	overflow: hidden;
}

.Main_menu_bottom dd{
	width: 30%;
	height: 5rem;
	margin-top: 0.2rem;
	margin-left: 2.4%;
	float: left;
	background: #fff;
}

.Paging {
	width: 100%;
	height: 1.5rem;
	float: left;
	margin-top: 0.5rem;
}

.Paging li {
	float: left;
	border-radius: 0.2rem;
	background: rgba(255, 0, 0, 0.5);
	width: 10%;
	height: 1rem;
	text-align: center;
	line-height: 1rem;
	margin-left: 0.4rem;
	color: #fff;
	font-size: 0.65rem;
}

.Paging li:first-child {
	width: 15%;
}

.Paging li:last-child {
	width: 15%;
}