<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="Home">
			<!--banner轮播图-->
			<div class="Window_top_bg">
				<ul class="Window_top">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>

			<ul class="Window_center">
				<li class="Window_center_left">
					<div class="Window_center_acoustics">
						<div class="Window_center_acoustics_little">

						</div>
					</div>
					<div class="Window_center_acoustics">
						<div class="Window_center_acoustics_little">

						</div>
					</div>
				</li>

				<!--主轮播图-->
				<li id="Window">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<a href="#"><img src="img/Home/a1.jpg"></a>
							</div>
							<div class="swiper-slide">
								<a href="#"><img src="img/Home/a2.jpg"></a>
							</div>
							<div class="swiper-slide">
								<a href="#"><img src="img/Home/a3.jpg"></a>
							</div>
							<div class="swiper-slide">
								<a href="#"><img src="img/Home/a4.jpg"></a>
							</div>
							<div class="swiper-slide">
								<a href="#"><img src="img/Home/a5.jpg"></a>
							</div>
							<div class="swiper-slide">
								<a href="#"><img src="img/Home/a6.jpg"></a>
							</div>
							<div class="swiper-slide">
								<a href="#"><img src="img/Home/a7.jpg"></a>
							</div>
							<div class="swiper-slide">
								<a href="#"><img src="img/Home/a8.jpg"></a>
							</div>
							<div class="swiper-slide">
								<a href="#"><img src="img/Home/a9.jpg"></a>
							</div>
							<div class="swiper-slide">
								<a href="#"><img src="img/Home/a10.jpg"></a>
							</div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
						<!-- Add Arrows -->
						<!--<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>-->
					</div>
				</li>

				<li class="Window_center_right">
					<div class="Window_center_acoustics">
						<div class="Window_center_acoustics_little">

						</div>
					</div>
					<div class="Window_center_acoustics">
						<div class="Window_center_acoustics_little">

						</div>
					</div>
				</li>
			</ul>

			<dl class="Movie_menu">
				<dt>&nbsp;&nbsp;大陆<a href="#/Mainland">更多...</a></dt>
				<dd>
					<a href="#"><img src="img/Mainland/aa1.jpg"></a>
				</dd>
				<dd>
					<a href="#"><img src="img/Mainland/aa2.jpg"></a>
				</dd>
				<dd>
					<a href="#"><img src="img/Mainland/aa3.jpg"></a>
				</dd>
				<dd>
					<a href="#"><img src="img/Mainland/aa4.jpg"></a>
				</dd>
			</dl>

			<dl class="Movie_menu">
				<dt>&nbsp;&nbsp;港台<a href="#/Hongkong">更多...</a></dt>
				<dd>
					<a href="#"><img src="img/Hongkong/bb1.jpg"></a>
				</dd>
				<dd>
					<a href="#"><img src="img/Hongkong/bb2.jpg"></a>
				</dd>
				<dd>
					<a href="#"><img src="img/Hongkong/bb3.jpg"></a>
				</dd>
				<dd>
					<a href="#"><img src="img/Hongkong/bb4.jpg"></a>
				</dd>
			</dl>

			<dl class="Movie_menu">
				<dt>&nbsp;&nbsp;欧美<a href="#/America">更多...</a></dt>
				<dd>
					<a href="#"><img src="img/America/cc1.jpg"></a>
				</dd>
				<dd>
					<a href="#"><img src="img/America/cc2.jpg"></a>
				</dd>
				<dd>
					<a href="#"><img src="img/America/cc3.jpg"></a>
				</dd>
				<dd>
					<a href="#"><img src="img/America/cc4.jpg"></a>
				</dd>
			</dl>

			<dl class="Movie_menu">
				<dt>&nbsp;&nbsp;动漫<a href="#/Cartoon">更多...</a></dt>
				<dd>
					<a href="#"><img src="img/Cartoon/dd1.jpg"></a>
				</dd>
				<dd>
					<a href="#"><img src="img/Cartoon/dd2.jpg"></a>
				</dd>
				<dd>
					<a href="#"><img src="img/Cartoon/dd3.jpg"></a>
				</dd>
				<dd>
					<a href="#"><img src="img/Cartoon/dd4.jpg"></a>
				</dd>
			</dl>

		</div>
		</div>
	</body>

</html>